

#screen {
    width: 100%;
    aspect-ratio: 16/9;
    position: relative;
}

#game_background{
    width: 100%;
    height: 100%;
    position: cover;
    top: 0;
    left:0;
    background-image:url(baggrund.svg);
    background-size: cover;
}

#game_elements{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left:0;
    pointer-events: none;
}

#game_UI{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left:0;
    pointer-events: none;
}

#point_board {
    width: 100%;
    aspect-ratio: 1/1.6;
    position: absolute;
    top:-20%;
    left:22%;
    background-image: url(assets/point.svg);
    background-size: cover;



}

#time_board {
    width: 100%;
    aspect-ratio: 1/1.6;
    position: absolute;
    top:-2%;
    left:22%;
    background-image: url(assets/tid.svg);
    background-size: cover;

}


#life_board {
    width: 600%;
    position: absolute;
    top:-33%;
    left:25%;
    background-image: url(assets/liv.svg);
    background-size: cover;


}

/*--------------------------CONTAINER & SPRITE--------------------------*/
#figur_container1 {
    position: absolute;
    width: 40%;
    aspect-ratio: 3/4;
    left: 50%;
    top: 20%;
    
}

#figur_sprite1 {
    background-image: url(assets/godfigur.svg);
    background-size: cover;
    width: 100%;
    height: 100%;
}

#figur_container2 {
    position: absolute;
    width: 40%;
    aspect-ratio: 3/4;
    left: 10%;
    top: 40%;
    
}

#figur_sprite2 {
    background-image: url(assets/ondfigur.svg);
    background-size: cover;
    width: 100%;
    height: 100%;
}


 






/*--------------------------ANIMATIONER--------------------------*/
.flyv{
    animation-name: flyv_kf;
    animation-duration: 8s;
    animation-iteration-count: 5;
    animation-fill-mode: both;
    animation-direction: alternate;
}

@keyframes flyv_kf{
    from {transform: translateX(-250%);}
    to {transform: translateX(250%);}

}

.flyv_ond{
    animation-name: flyv_ond;
    animation-duration: 8s;
    animation-iteration-count: 5;
    animation-fill-mode: both;
    animation-direction: alternate;
    animation-delay: 2;
}

@keyframes flyv_ond{
    from {transform: translateX(-250%);}
    to {transform: translateX(250%);}

}

.pause {
    animation-play-state: paused;
    
}
@keyframes pause_kf{
    

    }



