
@font-face {
    src: url(fonts/Montserrat-font.woff);
    font-family:mont;

}


body{
    margin:0;
    padding:0;
    background-color:#F1F7EB;
    max-width: 1200px;
}

.container{
    width:1200px;
    height: 400px;
    position:relative;
    margin: 60px auto;
}
.container img {
    width:1200px;
    height: 400px;

}

.h1{
    color: #FFCC5D;
    position:absolute;
    top:50%;
    left: 31%;
    transform: translate(-50%, -50%);
    font-family: mont;
    font-size: larger;
}

.h2{
    color: #FFCC5D;
    position:absolute;
    top: 65%;
    left:48.5%;
    transform: translate(-50%, -50%);
    font-family: mont;
    font-size: 90%;
}

nav ul{
    font-family: mont;
    background-color: #EEF2E9;
}

.h3{
    color: #60755a;
    position:absolute;
    top: 80%;
    left:50%;
    transform: translate(-50%, -50%);
    font-family: mont;
    font-size: 110%;
    font-weight: bolder;
}
.p{
    color: #60755a;
    position:absolute;
    top: 95%;
    left:50%;
    transform: translate(-50%, -50%);
    font-family: mont;
    font-size: 90%;
    max-width: 400px;
}

.h1b {
    color: #f9bc4a;
    font-family: mont;
    font-weight: bold;
    font-size: 35px;
    margin-left: 50px;
    margin-top: 50px;
}

.container2{
    width:1200px;
    height: 400px;
    position:relative;
    margin: 60px auto;
}
.container2 img {
    width:900px;
    height: 400px;

}


.h2b {
    color: #F4929E;
    font-family: mont;
    font-weight: bold;
    font-size: 25px;
    text-align: center;
 
}

.h1i{
font-family: mont;
font-size: 100%;
color: #60755a;
margin-left: 30px;
margin-top: 50px;
}

.h2i{
    color: #F9CC5D; 
    margin-left: 4px;
    margin-top: 15px;

}


.container3 img{
    max-width: 500px;
    margin-left: 80px;
    margin-top: 50px;
}

.container4 img{
    max-width: 130px;
    margin-left: 140px;
    margin-top:250px;
}

.p3{
    color: #60755a;
    margin-left: 3px;
    top: 200px;
    font-size: 15px;
}
.p2{
    color: #60755a;
    position:absolute;
   max-width: 400px;
   margin-top: 60px;
   top: 95%;
   left:32%;
    font-family: mont;
    font-size: 60%;
}

.container5 img{
    max-width: 500px;
    margin-left: 40px;
    margin-top: 100px;
    height: 400px;
}

.tekst5 {
    color: #60755a;
    font-family: mont;
    font-size: 90%;
    max-width: 400px;
    margin-left: 300px;
    margin-top: 100px;

}

.tekstgrafik2 {
    color: #60755a;
    font-family: mont;
    font-size: 70%;
    max-width: 150px;
    margin-left: 140px;
    margin-top: 20px;
}

.tekstgrafik3 {
    color: #60755a;
    margin-left: 120px;
    font-size: 70%;
    max-width: 150px;
    font-family: mont;
    font-size: 70%;
    margin-top: 20px;

}

.tekstgrafik4 {
    color: #60755a;
    margin-left: 130px;
    font-size: 70%;
    max-width: 150px;
    font-family: mont;
    font-size: 70%;
    margin-top: 20px;

}


.tekstgrafik6 {
    color: #60755a;
    margin-left: 130px;
    font-size: 70%;
    max-width: 130px;
    font-family: mont;
    font-size: 70%;
    margin-top: 20px;

}