@media (min-width: 400px) {

@font-face {
    font-family: Montserrat;
    src: url(fonts/Montserrat-VariableFont_wght.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


#header{
    width: 100%;
    height: 100vh;
    background: linear-gradient(#FDFEFE, #F1ECE6 );
    
}
   

.container {
    padding: 5px 10%;
    background: linear-gradient(#F1ECE6,#FDFEFE);
    
 }

 


nav {
    align-items: center;
    justify-content: space-between;
    font-family: Montserrat;
    font-weight: bolder;
    display: flex;

}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;

}

nav ul li a {
    color: #1F009F;
    text-decoration: none;
    font-size: 30px;
    position: relative;
}
.tema{
    color: #1F009F;
    text-decoration: none;
    font-size: 20px;
    position: relative;
    font-weight: 400;
}

.opgave{
    color: black;
    text-decoration: none;
    font-size: 15px;
    position: relative;
    font-weight: 300;
}

nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: #1F009F;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;

}

nav ul li a:hover::after{
    width: 100%;
}

.row {
    display: grid;
    
}

.about-col-1 {
    width: 100%;
    margin: 10px 20px;
    margin-top: 10%;
    margin-top: 10%;

}

.about-col-2{
    font-size: 20px;
    color: black;
    font-family: Montserrat;
    margin-top: 10%;
    text-align: center;
    line-height: 30px;
}

.about-col-1 img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;

}

h1, h2{
    color: #1F009F;
    font-weight: 500;
}

button{
    display:inline-block;
    padding:0.35em 1.2em;
    border:0.1em;
    margin:0 1em 0.6em;
    border-radius:0.17em;
    box-sizing: border-box;
    text-decoration:none;
    font-family: Montserrat;
    font-size:25px;
    font-weight: bolder;
    color:#1F009F;
    text-align:center;
    transition: all 0.2s;
    background-color:#F1ECE6;
    }

    button:hover{
    background-color:#ded9f1; 
    }

  }
  .hamburger{
    display: none;
    cursor: pointer;
}

.bar{
    display: block;
    width:25px;
    height:3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out; 
    transition: all 0.3s ease-in-out; 
    background-color: #1F009F ;

}

@media (max-width:2500px) {
    .hamburger{
        display: block;
    }

    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1){
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-links{
        position: fixed;
        left:-100%;
        top:70px;
        gap: 0;
        flex-direction: column;
        width: 100%;
        text-align: center;
        transition: 0.3s;
        background-color: #FAF5EF;
        display: flex;


    }

    .nav-links.active{
        left:0;

    }
}

  
    


